# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

!.env.example

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

venv/

# Credentials & Integrations
data/credentials/
memory/user_vault.json
config/google_client_secret.json
*.naira_backup
firebase_credentials.json